<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 关闭 MyBatis 结果集日志 -->
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="java.sql.ResultSet" level="ON"/>  <!-- 关键！ -->


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
